<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pdd.api.news.dao.mapper.News_ContentMapper" >

    <select id="queryList" resultType="News_Content">
        select * from news_content
    </select>
</mapper>